{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs delay.</p>
    <div class="row">
        <div class="col-md-8">
            {{ form(form) }}
        </div>
        <div class="col-md-4">
            <strong>Symfony E-commerce</strong>
            <hr>
            Téléphone <br>
            Adresses <br>
            Mail <br>
        </div>
    </div>
{% endblock %}
